<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
<a href="facebookadmin/index.html">Protected url by Facebook with ROLE_ADMIN: facebookadmin/index.html</a><br />
<a href="facebookcustom/index.html">Protected url by Facebook with custom authorizer (= must be a <em>HttpProfile</em> where the username starts with "jle"): facebookcustom/index.html</a><br />
<a href="twitter/index.html">Protected url by Twitter: twitter/index.html</a> or <a href="twitter/index.html?client_name=FacebookClient">by Facebook: twitter/index.html?client_name=FacebookClient</a><br />

<hr/>
<br />
<a href="/logout?url=/">logout</a>
<br /><br />profile : {{userProfile}}
<br /><br />
<hr />

<a href="{{urlFacebook}}">Authenticate with Facebook</a><br />
<a href="{{urlTwitter}}">Authenticate with Twitter</a><br />

<h2>Find the source code on <a target="_blank" href="https://github.com/pac4j/vertx-pac4j-demo">https://github.com/pac4j/vertx-pac4j-demo</a><br/>
    <br />
</h2>